<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolsas</title>
    <link rel="stylesheet" href="../assets/style/style.css" />
    <link rel="stylesheet" href="../src/style/paginaBolsas.css" />
  </head>
  <body>
    <header>
      <h1>Todas as bolsas</h1>
      <button onclick="location = '../index.html'">Voltar para home</button>
    </header>
    <section>
      <div id="product-area"></div>
    </section>
    <script src="../src/js/catalogoBolsas.js"></script>
  </body>
</html>
