@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

#product-area {
  padding: 20px;
}

.card-product {
  margin-bottom: 20px;
}

.card-product > p {
  padding: 5px;
}
